# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\progtech_gyak_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
